
    <div class="col-xs-4">
        <span class="itemLabel">Auto Clicker:</span>
        <br>
        <span class="itemCount"><%= clickDoges %> </span>

    </div>

    <div class="col-xs-4 itemDescription">
        <span>A Click-Doge automatically clicks the doge every 10 seconds.</span>
    </div>


    <div class="col-xs-4">
        <button class="btn btn-lg btn-default buyButton" value="Buy a Click-Doge">Buy
            <br/> Cost:
            <%= this.formatter(clickerCost) %>
        </button>
    </div>
