
#backboneEl {
	height: 100vh;
	position: relative;
}
.vertical-center {
	// top: 50%;
	// transform: translateY(-50%);
  margin-top: 30px;

}

#mainRow {
	width: 100%;
}

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

#clicker{
	line-height: 2.33em;
}

#dogepic {
	width: 200px;
	margin-bottom: 15px;
	margin-top: 10px;
}
