@import "./vars.scss";


#backboneEl {
	height: 100vh;
	position: relative;
}
.vertical-center {
  margin-top: 30px;
}

// stats table
#stats {
  color: lighten($black, 20%);
  border-width: 1px;
}

#stats td {
  padding: 0.5em 1em 0.5em 1em;
  text-align: left;
}

#stats tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: maroon;
}

#stats th {
  color: $black;
  font-size: 22px;
}

#mainRow {
	width: 100%;
}

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

#clicker{
	line-height: 2.33em;
}

#dogepic {
	width: 200px;
	margin-bottom: 15px;
	margin-top: 10px;
}
