$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "./vars.scss";
@import "./animate.scss";
@import "./custom.scss";


$serif: "ff-meta-serif-web-pro", Georgia, serif;
$small: "proxima-nova-condensed", sans-serif;
$sans-serif: 'Lato', Helvetica, sans-serif;

$link-color: rgb(243, 140, 33);
$black: #222;


body {
  font-size: 22px;
  color: $black;
  padding: 0;
  margin: 0;
  font-family: $sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

h1 {
  font-family: $sans-serif;
  font-size: 48px;
}

.intro {
  color: lighten($black, 30%);
}

h2 {
  font-family: $sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}

.note {
  font-size: 0.8rem;
  font-style: italic;
}

.hed {
  font-family: 'Lato', Helvetica,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.small {
  font-family: $sans-serif;
  color: $light-gray;
  display: block;
  margin-bottom: 10px;
}

.webtweet {
  display: block;
  margin-bottom: 10px;

  &::after {
    content: url(https://s3.amazonaws.com/uploads-cironline-org/scripts/twitter-web-intents/Twitter_logo_blue_16.png)
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

p.credit {
  color: #777;
  font-size: 0.6em;
  text-align: right;
  font-family: Lato,sans-serif;
  margin-top: 1em;
  max-width: 350px;
  float: right;
}

#logo {
  @extend p.credit;
  width: 20%;
  max-width: 150px;
  clear: both;
  margin-top: -10px;
}

#dogepicContainer {
  position: relative;
}
#upgradeText {
  color: maroon;
  background-color: white;
  font-size: 34px;

}

/* =================
   MEDIA QUERIES
   Taken from: http://foundation.zurb.com/docs/media-queries.html
================= */

// Small screens
@media only screen { } /* Define mobile styles */
@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
