$serif: "ff-meta-serif-web-pro", Georgia, serif;
$small: "proxima-nova-condensed", sans-serif;
$sans-serif: 'Lato', Helvetica, sans-serif;

$link-color: rgb(243, 140, 33);
$light-gray: #888;
$black: #222;
