<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="gulpTemplate">
    <meta property="og:image" content="http://media.apps.cironline.org/richmond/images/logo1x.png">
    <meta property="og:description" content="">

    <title>Updog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="http://cironline.org/sites/all/themes/cir/favicon.ico">

    <!-- put vendor css here-->
    <!-- build:css vendor.css -->
    <!-- endbuild -->

    <!-- build:maincss -->
    <!-- Please only put your main sass or css file here-->
    <link rel="stylesheet" href="styles/main.scss">
    <!-- endbuild -->

</head>

<body>
	<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<div class="container" id="backboneEl">

	</div>

	<script id="template" type="text/html">

		<div id="mainRow" class="row vertical-center">

			<h1 class="text-center">Updog</h1>
			<p class="intro text-center">Click to updog yr doges. Buy a click-doge to auto-updog yr doges.</p>

			<!-- doge picture -->
			<div class="row">
        <div id="upgradeContainer"></div>

				<div class="col-xs-6 col-md-3 col-md-offset-3 text-center" id="dogepicContainer"></div>

				<!-- stats -->
				<div id="stats" class="col-xs-6 col-md-4 col-lg-3"></div>

			</div>

      <hr>

      <!-- buy a clicker -->
      <div class="col-xs-6 col-md-3 col-md-offset-3" id="buyClickDoge">
      </div>


			<!--  buy a click generator -->
			<div class="col-xs-6 col-md-4 col-lg-3" id="dogeGenerator"></div>

			<div class="col-xs-6 col-md-3 col-md-offset-3" id="upgradeClick">
			</div>

			<div class="col-xs-6 col-md-3 col-md-offset-3" id="upgradeGenerator">
			</div>

    </div>
  </script>

<!-- template for upgrader -->
<script id="upgradeClickTemplate" type="text/template">
	<div class="text-center">
		<button class="btn btn-lg btn-default" value="">Upgrade yr Clicks <br /> Cost: <%= clickUpgradeCost %></button>
	</div>
</script>

	<!-- template for generator buy -->
	<script id="generatorTemplate" type="text/template">
		<div class="text-center">
			<button class="btn btn-lg btn-default" value="Buy a Doge Generator">Buy a Doge Generator<br /> Cost: <%= generatorCost %></button>
		</div>
	</script>

<!-- template for clicker buy -->
  <script id="buyClickDogeTemplate" type="text/html">
	  <div class="text-center">
	    <button class="btn btn-lg btn-default" value="Buy a Click-Doge">Buy a Click-Doge <br /> Cost: <%= clickerCost %></button>
	  </div>
  </script>




    <!-- build:js vendor.js -->
    <!-- put all your third party scripts here  -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <!-- endbuild -->

    <!-- build:mainjs-->
    <!-- Please only put your main js file here -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        var WebFontConfig = {
            google: {
                families: ['Lato', ]
            },
            typekit: {
                id: 'quu2bck'
            }
        };

        _gaq.push(['_setAccount', 'UA-2147301-25']);
        _gaq.push(['_setDomainName', '.revealnews.org']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</body>

</html>
